<div>

    <div class="contenedor">
      <div class="sidebar  ">
        <div class="nav-sidebar">
          <div class="menu">
            <p class="titulo">Main</p>
            <ul>
              <li >
                <a href="#" >
                  <i class="bi bi-house-door"></i>
                  <span class="text-sidebar">Inicio</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="bi bi-pencil-square"></i>
                  <span class="text-sidebar">Prestamos</span>
                  <i class="bi bi-caret-down-fill"></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">
                      <span class="text-sidebar">Empeños</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="text-sidebar">Pagos</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="bi bi-person-square"></i>
                  <span class="text-sidebar">Clientes</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="bi bi-cash"></i>
                  <span class="text-sidebar">Movimientos</span>
                  <i class="bi bi-caret-down-fill"></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">
                      <span class="text-sidebar">Entradas</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="text-sidebar">Salidas</span>
                    </a>
                  </li>
                </ul>
              </li>
            
            </ul>
          </div>          
        </div>
        <div class="nav-sidebar">
          <div class="menu">
            <p class="titulo">setings</p>
            <ul>
             
              <li>
                <a href="#">
                  <i class="bi bi-gear-fill"></i>
                  <span class="text-sidebar">Configuracion</span>
                </a>
              </li>
            </ul>
          </div>          
        </div>

        <div class="nav-sidebar suport-sidebar">
          <div class="menu">
            <p class="titulo">Suport</p>
            <ul>
             
              <li>
                <a href="#">
                  <i class="bi bi-info-square"></i>
                  <button type="button" class="btn border border-0 text-sidebar text-info text-start" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Soporte</button>
                </a>
              </li>
            </ul>
          </div>          
        </div>
        
        
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Envianos un correo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"> Detalles de tu consulta</label>
                <textarea class="form-control custom-textarea" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg pe-2"></i>Cerrar</button>
            <button type="button" class="btn btn-success"><i class="bi bi-envelope pe-2"></i>Enviar correo</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>