<div class="login">
    <img src="assets/Img/LOGO-PISTON.png" alt="{{ 'LOGIN.LOGO_ALT' | translate }}">
    <h2 class="pt-sans-bold">{{ 'LOGIN.TITLE' | translate }}</h2>
    
   
    
    <label for="user" style="margin-top: 200px;">
        <div class="input">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/>
            </svg>
            <input type="email"
                   name="username"
                   id="user"
                   placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
                   [(ngModel)]="credentials.username"
                   required>
        </div>
    </label>

    <label for="password">
        <div class="input">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 13a1.49 1.49 0 0 0-1 2.61V17a1 1 0 0 0 2 0v-1.39A1.49 1.49 0 0 0 12 13m5-4V7A5 5 0 0 0 7 7v2a3 3 0 0 0-3 3v7a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-7a3 3 0 0 0-3-3M9 7a3 3 0 0 1 6 0v2H9Zm9 12a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1Z"/>
            </svg>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
                   [(ngModel)]="credentials.password"
                   required>
        </div>
    </label>

    <button type="button" class="btn" (click)="onLogin()">
        {{ 'LOGIN.SUBMIT_BUTTON' | translate }}
    </button>

    <div class="center">
        <a  (click)="onClienteClick($event)">{{ 'LOGIN.CONTINUE_AS_CLIENT' | translate }}</a>
    </div>

    <div class="center-two">
        <a [routerLink]="['/login']" (click)="onOlvidePasswordClick($event)">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
    </div>
</div>