<app-header></app-header>
<div class="pagina d-flex" >
    <app-sidebar class="lateral container-mt-fluid"></app-sidebar>
    
    <div class="prestamo-crear  mx-auto text-success">
        <app-cliente-form (clienteCreado)="onClienteCreado($event)"></app-cliente-form>  
        
        <h2 class="text-success font-bold">{{ 'LOAN_CREATE.TITLE' | translate }}</h2>
       
        <div class="crear-cuerpo bg-white  rounded p-6">
            <!-- Vehicle Form -->
            <div>
                <h3 class="text-xl font-bold mb-4">{{ 'LOAN_CREATE.GENERAL_INFO' | translate }}</h3>
                
            </div>
        
            <!-- Loan Form -->
            <div >
                <form [formGroup]="loanForm" class="space-y-4">
                    <div class=" justify-content-between d-flex flex-wrap">
                        <!-- Machine Type -->
                        <div class="elemento-form">
                            <label for="tipoMaquina" class="block mb-1">Tipo de maquina *</label>
                            <select id="tipoMaquina" formControlName="tipoMaquina" 
                                    class="w-full p-2 border rounded"
                                    [class.border-red-500]="loanForm.get('tipoMaquina')?.touched && loanForm.get('tipoMaquina')?.invalid">
                                <option value="">Tipo de maquina</option>
                                <option *ngFor="let tipo of tiposMaquinas" [value]="tipo">
                                    {{tipo}}
                                </option>
                            </select>
                            <div *ngIf="loanForm.get('tipoMaquina')?.touched && loanForm.get('tipoMaquina')?.invalid" 
                                 class="text-red-500 text-sm mt-1">
                                {{ 'LOAN_CREATE.REQUIRED_FIELD' | translate }}
                            </div>
                        </div>
            
                        <!-- marca -->
                        <div class="elemento-form">
                            <label for="marcaMaquina" class="block mb-1">{{ 'LOAN_CREATE.BRAND' | translate }} *</label>
                            <input type="text" id="marcaMaquina" formControlName="marcaMaquina" 
                                   class="w-full p-2 border rounded"
                                   [class.border-red-500]="loanForm.get('marcaMaquina')?.touched && loanForm.get('marcaMaquina')?.invalid">
                            <div *ngIf="loanForm.get('marcaMaquina')?.touched && loanForm.get('marcaMaquina')?.invalid" 
                                 class="text-red-500 text-sm mt-1">
                                {{ 'LOAN_CREATE.REQUIRED_FIELD' | translate }}
                            </div>
                        </div>
            
                        
                    </div>           
                    <div class="justify-content-between d-flex flex-wrap">
                        <!-- Client -->
                        <div class="elemento-form relative">
                            <div class="mb-3 d-flex justify-content-between align-items-start">
                                <!-- Search -->
                                <div class="flex-grow-1 me-3">
                                    <label for="buscadorClientes">{{ 'LOAN_CREATE.SEARCH_CLIENT' | translate }} *</label>
                                    <div class="relative">
                                        <input
                                            id="buscadorClientes"
                                            type="text"
                                            [formControl]="buscadorControl"
                                            class="w-full p-2 border rounded"
                                            placeholder="{{ 'LOAN_CREATE.SEARCH_CLIENT_PLACEHOLDER' | translate }}"
                                            [class.border-red-500]="loanForm.get('idCliente')?.touched && loanForm.get('idCliente')?.invalid"
                                        >
                                        <button
                                            *ngIf="clienteSeleccionado"
                                            (click)="limpiarSeleccion()"
                                            class="btn"
                                            type="button"
                                        >
                                        <i class="bi bi-x-circle"></i>
                                        </button>
                                    </div>
                        
                                    <!-- Results list -->
                                    <div *ngIf="mostrarResultados && clientesEncontrados.length > 0"
                                        class="absolute z-10 w-full mt-1 bg-white border rounded-md shadow-lg">
                                       <ul class="max-h-60 overflow-auto">
                                           <li *ngFor="let cliente of clientesEncontrados"
                                               (click)="seleccionarCliente(cliente)"
                                               class="p-2 hover:bg-gray-100 cursor-pointer">
                                               {{cliente.nombres}} {{cliente.apellidos}} - {{cliente.numeroDocumento}}
                                           </li>
                                       </ul>
                                    </div>
                    
                                    <!-- No results message -->
                                    <div *ngIf="mostrarResultados && clientesEncontrados.length === 0 && buscadorControl.value"
                                         class="mt-1 text-sm text-gray-500">
                                        {{ 'LOAN_CREATE.NO_CLIENTS_FOUND' | translate }}
                                    </div>
    
                                </div>
                        
                                <!-- New client button -->
                                <div class="mt-4">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        {{ 'LOAN_CREATE.NEW_CLIENT' | translate }}
                                    </button>
                                </div>
                            </div>
                        
                            <!-- Validation message -->
                            <div *ngIf="loanForm.get('idCliente')?.touched && loanForm.get('idCliente')?.invalid" 
                                 class="text-red-500 text-sm mt-1">
                                {{ 'LOAN_CREATE.CLIENT_REQUIRED' | translate }}
                            </div>
                        </div>
    
                        <!-- Loan Amount -->
                        <div class="elemento-form">
                            <label for="montoPrestamo" class="block mb-1 font-medium">{{ 'LOAN_CREATE.LOAN_AMOUNT' | translate }} *</label>
                            <input type="number" id="montoPrestamo" formControlName="montoPrestamo" 
                                   class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                                   [class.border-red-500]="loanForm.get('montoPrestamo')?.touched && loanForm.get('montoPrestamo')?.invalid">
                            <div *ngIf="loanForm.get('montoPrestamo')?.touched && loanForm.get('montoPrestamo')?.invalid" 
                                 class="text-red-500 text-sm mt-1">
                                <div *ngIf="loanForm.get('montoPrestamo')?.errors?.['required']">
                                    {{ 'LOAN_CREATE.AMOUNT_REQUIRED' | translate }}
                                </div>
                                <div *ngIf="loanForm.get('montoPrestamo')?.errors?.['min']">
                                    {{ 'LOAN_CREATE.AMOUNT_MIN' | translate }}
                                </div>
                            </div>
                        </div>
        
                        <!-- Interest Rate -->
                        <div class="elemento-form ">
                            <label for="tasaInteres" class="block mb-1 font-medium">{{ 'LOAN_CREATE.INTEREST_RATE' | translate }} *</label>
                            <input type="number" id="tasaInteres" formControlName="tasaInteres" 
                                   class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                                   [class.border-red-500]="loanForm.get('tasaInteres')?.touched && loanForm.get('tasaInteres')?.invalid">
                            <div *ngIf="loanForm.get('tasaInteres')?.touched && loanForm.get('tasaInteres')?.invalid" 
                                 class="text-red-500 text-sm mt-1">
                                <div *ngIf="loanForm.get('tasaInteres')?.errors?.['required']">
                                    {{ 'LOAN_CREATE.RATE_REQUIRED' | translate }}
                                </div>
                                <div *ngIf="loanForm.get('tasaInteres')?.errors?.['min'] || loanForm.get('tasaInteres')?.errors?.['max']">
                                    {{ 'LOAN_CREATE.RATE_RANGE' | translate }}
                                </div>
                            </div>
                        </div>
        
                        <!-- Observations -->
                        <div class="elemento-form area-texto" >
                            <label for="observaciones" class="block mb-1 font-medium">{{ 'LOAN_CREATE.OBSERVATIONS' | translate }}</label>
                            <textarea id="observaciones" formControlName="observaciones" 
                                    rows="4"
                                    class=""
                                    placeholder="{{ 'LOAN_CREATE.OBSERVATIONS_PLACEHOLDER' | translate }}"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        
            <!-- Buttons -->
            <div class="botones flex justify-content-between mt-5">
                <button (click)="router.navigate(['/prestamos'])" 
                        class="btn btn-danger m-2">
                    {{ 'LOAN_CREATE.CANCEL' | translate }}
                </button>
                <button (click)="onSubmit()" 
                        [disabled]="!loanForm.valid || !loanForm.valid || loading"
                        class="btn btn-success m-2">
                    <span *ngIf="loading" class="flex items-center">
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        {{ 'LOAN_CREATE.PROCESSING' | translate }}
                    </span>
                    <span *ngIf="!loading">
                        {{ 'LOAN_CREATE.REGISTER_LOAN' | translate }}
                    </span>
                </button>
            </div>

        </div>
    </div>