.pagina{
    background-color: #F5F6FB;
}
@media (max-width:1200px) {
    .lateral{
        width: 93px;
    }
}@media (max-width:700) {
    .lateral{
        width: 0;
    }
}

.titulo{
    height: auto;
    margin-bottom: 30px;
}

.cuerpo{
    margin-top: 58px !important;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.configuration-cuerpo{
  height: 80%;
  margin-top: 30px;
  padding: 15px;
  background-color: white;
}
.configuration-cuerpo a, .border{
  height:   55px;

}

  
  
  
  