<div class="body">
    <div class="frame">
        <a href="#" >
            <img src="Img/LOGO-ELPISTON.png" alt="" >
            
        </a>
        <h1>Estado de prestamos</h1>
        <p>Consulta aqui tus prestamos</p>
        <label class=" search rounded" for="buscador">
            <i class="bi bi-search  text-primary ps-2 pe-2"></i>
            <input type="text" placeholder="Numero de identificación o placa del vehículo" class=" ps-2 rounded text-black text-opacity-75" id="buscador" name="buscador">
          </label>
    </div>
</div>
