<header class="cabezero">
    <nav class="navbar bg-ligth border-bottom">
      <div class="container-fluid1">
        <div class="list-icon" (click)="toggleSidebar()">
          <i class="bi bi-list"></i>
        </div>
        <div class="logotipe">
          <a href="index.html">
            <img src="Img/LOGO-ELPISTON.png" alt="Logo">
          </a>
        </div>
        
        <label class=" search rounded" for="buscador">
          <input type="text" placeholder="search.." class=" ps-2 rounded text-black text-opacity-75" id="buscador" name="buscador">
          <i class="bi bi-search  text-secondary ps-2 pe-2"></i>
        </label>
      
        <i class="bi bi-bell-fill text-success "></i>        
        <div class="dropdown">
          <a class="btn d-flex btn-ligth text-blue dropdown-toggle align-items-center btma text-success" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="justify-content-start  btma"><div class="fw-bolder text-success fs-6 text-start">El Piston</div><div class="text-success fs-7">administrador</div></div> 
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  
  