<header class="cabezero">
  <nav class="navbar border-bottom">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="list-icon me-3" (click)="toggleSidebar()">
          <i class="bi bi-list"></i>
        </div>
        <div class="logotipe">
          <a [routerLink]="['/home']">
            <img src="assets/Img/LOGO-ELPISTON.png"  height="40">
          </a>
        </div>
      </div>   
      <div class="">
        <label class="search rounded" for="buscador">
          <input type="text"
                 [(ngModel)]="searchTerm"
                 (input)="onSearchInput()"
                 (blur)="onBlur()"
                 placeholder="{{ 'HEADER.SEARCH_PLACEHOLDER' | translate }}"
                 class="rounded ms-3"
                 id="buscador"
                 name="buscador">
          <i class="bi bi-search text-secondary"></i>
        </label>
        
        <!-- Dropdown de resultados -->
        <div class="dropdown-menu" [class.show]="showResults" style="max-height: 300px; overflow-y: auto;">
          <button class="dropdown-item"
                  *ngFor="let prestamo of searchResults"
                  (click)="selectPrestamo(prestamo); "
                  type="button">
            {{ prestamo.cliente?.nombres }} {{ prestamo.cliente?.apellidos }} - {{ prestamo.cliente?.numeroDocumento }}
          </button>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center btma text-success"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <div class="d-flex flex-column align-items-end">
            <span class="fw-bolder fs-6">{{userName}}</span>
            <small class="text-muted">{{ userRole | translate }}</small>
          </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2" (click)="logout()">
              <i class="bi bi-box-arrow-right text-danger"></i>
              <span>{{ 'HEADER.LOGOUT' | translate }}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>