.pagina{
    background-color: #F5F6FB;
}

@media (min-width:1200px) {
    
}
@media (max-width:1200px) {
    .lateral{
        width: 93px;
    }
}@media (max-width:700) {
    .lateral{
        width: 0;
    }
}

.cuerpo{
    margin-top: 58px !important;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.titulo{
    height: 118px;
}
h2{
    font-size: 40px;
    justify-content: center;
    text-align: start;
    margin-bottom: 45px;
}
.tabla{
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #f6f6f6;
   
}

.cabeza-tabla tr th{
    background-color: #eeeff3;
    height: 80px;  
    padding: 0 25px; 
    font-size: 14px;
}
.buscador_tabla {
    height: 70px;
    width: 100%;
    background-color: #eeeff3;
    border-radius:10px 10px 0px 0 ;
    border-bottom: 1px solid #d0d0d0;
}
.buscador_tabla input{
    width: 120px;
    height: 40px;
    font-size: 14px;
}
.btn{
    font-size: 14px;
}
.buscador_tabla{
    padding: 0 25px;
}
.bi-pencil{
    width: 20px;
}

.prestamo-crear{
    margin-top: 58px;
    width: 75%;
}

.tabla_cuerpo tr td {
    padding: 20px 25px;
    font-size: 14px;
}

.crear-cuerpo{
    padding: 25px;
}
.elemento-form{
    margin-right: 25px;
    margin-bottom: 30px;
    width: 226px;
}
.elemento-form input{
    width: 100%;
    
}
.elemento-form select, .elemento-form{
    width: 212px;
}

.area-texto{
    width: 500px;
    margin: 0;
}
.area-texto textarea{
    width: 100%;
    border-radius: 10px;  
}
.area-texto textarea::placeholder{
    color: #093476;
    opacity: 0.8; 
}
.botones{
    width: 100%;
    text-align: center;
}
